#border {
  padding: 10px 0 10px 10px;
  width: 90%;
  border: 1px solid black;
}
button {
  border: 0;
  width: 120px;
  height: 30px;
  outline: 0;
  background-color: lightgray;
  border-radius: 5px;
}
button:hover {
  background-color: lightblue;
}
.button-active {
  background-color: lightblue;
}

p {
  color: rgb(127, 127, 127);
}

#swatch {
  width: 120px;
  height: 100px;
  margin-top: 18px;
  margin-left: 350px;
  background-image: none;
  padding: 5px;
}
#red,
#green,
#blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}
#red .ui-slider-range {
  background: #ef2929;
}
#red .ui-slider-handle {
  border-color: #ef2929;
}
#green .ui-slider-range {
  background: #8ae234;
}
#green .ui-slider-handle {
  border-color: #8ae234;
}
#blue .ui-slider-range {
  background: #729fcf;
}
#blue .ui-slider-handle {
  border-color: #729fcf;
}
